@page "{id}"
@model Lab12.Pages.Users.Delete_users_tr
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h1>Delete author @Model.User.phone_number</h1>
<form method="post">
    <button class="btn41-43 btn-43" type="submit">Yes</button>
    <a class="btn41-43 btn-43" asp-page="./Index">No</a>
</form>