@page
@model Lab12.Pages.Tariff.CreateTariff
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h1>New Publisher</h1>
        </div>
        <div class="card-body">
            <div class="passEditRowName">
                <label asp-for="tariff.name_of_tarif">Name of tarif: </label>
                <input asp-for="tariff.name_of_tarif" placeholder="@Model.tariff.name_of_tarif" />
            </div>
            <div class="passEditRowprice">
                <label asp-for="tariff.price">Price of tarif: </label>
                <input asp-for="tariff.price" placeholder="@Model.tariff.price" />
            </div>
        </div>
    </div>
    <div>
        <button class="btn41-43 btn-43" type="submit">Create</button>
        <a class="btn41-43 btn-43" asp-page="./Index">Cancel</a>
    </div>
</form>