@page "{id}"
@model Lab12.Pages.Tariff.EditTariff
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h1>Edit tariff</h1>
        </div>
        <div class="card-body">
            <div class="passEditRowTariff">
                <label asp-for="tariff.name_of_tarif">Edit name of tariff: </label>
                <input asp-for="tariff.name_of_tarif" placeholder="@Model.tariff.name_of_tarif" />
            </div>
        </div>
    </div>
    <div>
        <button class="btn41-43 btn-43" type="submit">Update</button>
        <a class="btn41-43 btn-43" asp-page="./Index">Cancel</a>
    </div>

</form>