@page
@using Lab12.Pages.Tariff
@model Lab12.Pages.Tariff.IndexTariff
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Tariff";
}

<table class="table">
    <thead>
        <tr>
            <th>Tariff Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarif in Model.tariff)
        {
            <tr>
                <td>@tarif.</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@tarif.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@tarif.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn41-43 btn-43" asp-page="./Create">Create New</a>
<a class="btn41-43 btn-43" asp-page="../Books/Index">Back to books</a>